
    .nav {
        background-color: yellow;
        list-style-type: none;
        text-align: center;
        margin: 0;
        padding: 0;

    }
    .nav li{
        display: inline-block;
        font-size: 20px;
        padding: 20px;
    }
    div {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 3s;
    -webkit-transition-delay: 1s;
    transition: width 3s;
    transition: 1s;
   }
   div:hover {
    width: 300px;
   }
