.caja1 {
    background-color: turquoise;
    color: black;
    border: 3px solid black;
    margin: 20px;
    width: 80%;
    padding: 5px;
    
}
.caja2 {
      
    border: 3px solid black;
    position: relative;
    background-image: linear-gradient(blue, red, lightgreen); 
    left: 100px;
    bottom: 50px;
    width: 80%;
    padding: 5px;
}
.caja3 {
    
    border: 3px solid black;
    margin: 20px;
    width: 80%;
    padding: 5px;
    background-image: radial-gradient(red, yellow, green); 
   
}