p {
    border: black solid;
    width: 80%;
    height: 80px;
    margin: 0px;
   
    
    
   }
   .p1 {
    background-color: aqua;
    position: relative;
    left: 80px;
    top: 40px;
    
   }  