
    body {
        background-image: url("campo.jpg");
        background-position: 75% 50%;
        background-repeat: no-repeat; 
        background-size: 180px auto;      
            
    }
      
