
    body {
        background-image: url("campo.jpg");
        background-repeat: no-repeat;
        background-position: right top; 
        background-attachment: fixed;
        background-size: cover;     
            
    }
      
